<!DOCTYPE html>
<html>

<header>
  <h1 class="headline">

  </h1>
</header>

<body>
  <h1 class="col-md-6 col-md-offset-2">
    welcome to<strong>
    <span class="glyphicon glyphicon-book"></span>
    Bookers </strong>!!
  </h1>
  <p class="col-md-6 col-md-offset-2">
    in <strong>
    <span class="glyphicon glyphicon-book"></span>
    Bookers</strong>,
  </p>
  <p class="col-md-6 col-md-offset-2">you can share and exchange your opinions, inpressions, and emotions</p>
  <p class="col-md-6 col-md-offset-2">about various books</p>
  <p>
    <%= link_to 'Log in', '/users/sign_in', class:"btn btn-info col-md-6 col-md-offset-2" %>
  </p>
  <p>
    <%= link_to 'Sign up', '/users/sign_up', class:"btn btn-success col-md-6 col-md-offset-2" %>
  </p>


</body>
</html>
